<div class="card" title="{{header}}">

  <img ng-src="{{image}}" width='200'/>
  
  <div ng-if='icon'>
    <i class="icon icon-card {{icon}}"></i>
  </div>

  <h2 class="h3">{{header}}</h2>

  <div class="card-hidden">
    <div ng-if='ordyear'>
      <a ng-href='#/users/{{id}}'>
        <h3 class="bio-header">Ordained Since:</h3>
        <p class="bio">{{ordyear}}</p>

        <h3 class="bio-header">Bio:</h3>
        <p class="bio">{{bio}}</p>

        <h3 class="bio-header">Geographic Region:</h3>
        <p class="bio">{{geo}}</p>

        <h3 class="bio-header">Requested Donation:</h3>
        <p class="bio">{{ donation | currency}}</p>

      </a>
    </div>
    <div ng-if='link'>
      <a ng-href='#/resources/{{id}}'>
        <p class="bio">{{descrip}}</p>
      </a>
    </div>

    <p>Click for more Information</p>
    
  </div>
</div>
